        /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }



    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
       

    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }


      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding-top: 60px;
      }
      .container .credit {
        margin: 20px 0;
      }

      a {
        display: inline-block;
        padding-right: 20px;

      }

      code {
        font-size: 80%;
      }

      footer {
      	background-color: #f2f2f2;
      	display: block;
      	padding-top: 15px;
      	padding-bottom: 10px;
      	padding-left: 10px;
      	margin: 15px;
      	max-width: 
      }


      /*because of the navbar all views need to be wrapped in this*/
      #wrap 
      {
      	margin-top:100px;
      	margin-bottom: 30px;
      	

      }

      .product {
      	margin:10px;
      	padding: 10px;
      }
      
@media screen {

/*-------------------------------------------------------------------------------------------------
input css
-------------------------------------------------------------------------------------------------*/

  /* Right column */
  h4 {
    display: inline-block;
  }

  
  #invoice {
    text-align:left;
    border: solid #000000 thin;
    background: #f2f2f2;
    padding:15px;
    margin-top: 20px;
    font-size: 14pt;
  }



  #nameOut {
    border: solid #f2f2f2 thin;
    margin: 5px;
    padding: 10px;
    height: 75px;
    
  }

  #contactInfo {
    border: solid #f2f2f2 thin;
    margin: 5px;
    padding: 10px;
    height: 75px;
    
  }

  #purchaserName {
    padding-bottom: 10px;
    padding-left: 5px;
      
    font-variant: small-caps;
  }

  #purchaserInfo {  
    padding-bottom: 10px; 
    font-variant: small-caps;
    font-size: 14pt;
    text-align: right;
  }

  #total {

    text-align: right;

  }

  #quantityError {
    color: #FF0000;

  }

  #link {
    display: block;
    margin: 5px;
    padding:10px;
    font-size: 18pt;
    color: #86CD86;
  }

  #signup {
    padding: 25px;
    width:100%;
  }

  .length {
    color: #FF0000;
    margin: 0px;
    padding-bottom: 10px;
    font-size: 14pt;

  }
  .total {
    font-variant: small-caps;
    font-size: 14pt;
    text-align: right;
    

  }
  .invoiceGoods {
    font-variant: small-caps;
    font-size: 14pt;
    padding-left: 25px;


    }
  .invoiceQuantity {
    float: right; 
    font-variant: small-caps;
    font-size: 14pt;
    text-align: right;
    width: 200px;
  }

  .bakedGood {
    color: #0033FF ;
  }


  .error {
    color: #FF0000;
    margin: 0px;
    padding-bottom: 10px;
    font-size: 14pt;
  }

  .requiredinput {
    display: inline;
    color: #FF0000;
    font-size: 18pt;
  }

  .inline{
    display: inline;
    font-size: 14pt;
  }


}



@media print {

  header nav, footer, p {
    display: none;
  }

  #left-side, #print, #removeInvoiceLines, #button {
    display: none;
  }

  #invoice {  
    text-align:left;
    background: #f2f2f2;
    padding:15px;
    margin: 20px;
  }

  #nameOut {
    margin: 5px;
    padding: 10px;
    height: 75px;
    font-variant: normal;
  }

  #contactInfo {
    margin: 5px;
    padding: 10px;
    height: 75px;
    font-variant: normal;
  }

  #purchaserName {
    padding-bottom: 10px;
      font-size: 14pt;
    font-variant: small-caps;
  }

  #purchaserInfo {

    padding-bottom: 10px; 
    font-variant: small-caps;
    font-size: 14pt;
    
  }

  #total {
    text-align: right;
    display: block;
    bottom: 0;

  }

  .total {
    text-align: right;
    

  }
  
  .invoiceGoods {
    width: 200px;
    display: inline;
    float:left;
    font-variant: small-caps;
    font-size: 14pt;
    margin: 15px;
    padding:10px;
  }

  .invoiceQuantity {
    width: 100px;
    float:right;
    font-variant: small-caps;
    font-size: 14pt;
    text-align: right;

  }

}



/*Shawna's additional css */

.signup {
  
  background-color: #f2f2f2;
  padding-right:20px;
  padding-left: 40px;

}

.signup h2 {
  padding-left:15px;
  padding-top:10px;

}

.login {
  display: inline-block;
  
}

.login h2 {
  padding-left:15px;
  padding-top:10px;
}

.follow {
 font-size: 20px;
 display: block;
 padding-bottom: 5px;

}

.avatar {
  width:100px;
  height:100px;

}

.post {
  border: solid thin #f2f2f2;
  margin-bottom: 10px;
  padding:8px;
  background-color: #f2f2f2;
}

.profile {
  padding-left:15px;
  padding-top:10px;
  border: solid thin #f2f2f2;

}

#orderhistory {
  padding-left: 50px;
  display: block;
  float: right;
}

